@model TrainersMVC.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

@section fullwidth{
    <img src="~/img/heroimage.jpg" id="image-hero" />

}


<div class="row">
    <h1 class="text-center">Trainers</h1>
    <hr/>
    @foreach(var trainer in Model.Trainers) 
    { 
        <div class="col-md-3">
            <div class="trainer-name">
                <h4 class="text-center">@trainer.FullName</h4>
            </div>
            <img src="~/img/@Url.Content(trainer.Thumbnail)" class="trainers-photo"/>
            <div class="course-title">
                <h4 class="text-center">@trainer.Course.Title</h4>
            </div>
        </div>
    }
</div>